# editors
.idea/
.vscode/

# Python
*.egg-info/
.pytest_cache/
__pycache__
.cache/
venv*/

# data
data/
*.mp4
videos/

# built library
build/
dist/
crowd_nav/data/
crowd_nav/model/
simple_nav/model/
*.pyc
