[submodule "eloquent_ws"]
	path = eloquent_ws
	url = https://github.com/utiasASRL/onboard_deep_sogm
[submodule "catkin_ws/src/teb_risk_map_planner"]
	path = catkin_ws/src/teb_local_planner
	url = https://github.com/utiasASRL/teb_risk_map_planner.git
