

/results

**/build_isolated/**
**/devel_isolated/**
**/install_isolated/**
**/build/**
**/install/**
**/log/**
**/logs/**
**/devel/**

# Byte-compiled / optimized / DLL files
*.py[cod]
**/__pycache__

# C extensions
*.so
