<?xml version="1.0"?>
<launch>
    <!-- <param name="/use_sim_time" value="true"/> -->
    <node pkg="crowd_planner" type="crowd_planner.py" name="crowd_planner" output="screen">
        <param name="env_config" value="$(find crowd_planner)/configs/env.config" />
        <param name="policy_config" value="$(find crowd_planner)/configs/policy.config" />
        <param name="model_weights" value="$(find crowd_planner)/model/resumed_rl_model.pth" />
    </node>

    <arg name="visualization" default="true" />

    <node pkg="object_detection" type="object_tracker" name="object_tracker" output="screen">
        <rosparam command="load" file="$(find object_detection)/config/params_lidar.yaml" />
        <rosparam command="load" file="$(find object_detection)/config/params_kalman.yaml" />
        <param name="camera_frame" value="mono_link" />
        <param name="det_topic" value="/Object/RawDetections3D" />
        <param name="det_topic3" value="/Object/RawDetections3D_3" />
        <param name="det_topic4" value="/Object/RawDetections3D_4" />
        <param name="det_topic_secondary" value="/Object/RawDetections3D_secondary" />
        <param name="det_topic_occupancy" value="/Object/RawDetections3D_occupancy" />
    </node>

    <node pkg="object_detection" type="object_visualizer" name="object_visualizer" output="screen" if="$(arg visualization)">
        <rosparam command="load" file="$(find object_detection)/config/params_lidar.yaml" />
        <rosparam command="load" file="$(find object_detection)/config/params_vis.yaml" />
        <param name="camera_frame" value="mono_link" />
        <param name="camera_topic" value="/blackfly/image_color" />
        <param name="lidar_topic" value="/velodyne_points" />
        <param name="bb_topic" value="/Object/Detections3D" />
        <param name="output_append" value="" />
    </node>

    <node pkg="object_detection" type="occupancy_grid" name="occupancy_grid" output="screen">
        <rosparam command="load" file="$(find object_detection)/config/params_lidar.yaml" />
        <rosparam command="load" file="$(find object_detection)/config/params_occupancy_grid.yaml" />
        <param name="lidar_topic" value="/velodyne_points" />
        <param name="output_append" value="_occupancy" />
    </node>

</launch>